body {
  background-color: #cccccc;
}

nav {
  background-color: #ffffff;
  width: 100%;
}

.navbar {
  width: 1200px;
  margin: 0 auto;
  height: 50px;
}

.navbar img {
  height: 45px;
  margin: 2.5px 0;
}

.navbar .right {
  line-height: 35px;
  display: inline-block;
  float: right;
  margin: 7.5px 0;
}

.navbar a {
  height: 35px;
}

.navbar a span {
  line-height: 35px;
}