<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./stylesheets/catchyou.css" />
  <link rel="stylesheet" href="./stylesheets/catchyou-nav.css" />
  <link rel="stylesheet" href="./stylesheets/catchyou-head.css" />
  <link rel="stylesheet" href="./stylesheets/catchyou-main.css" />
  <link rel="stylesheet" href="./stylesheets/catchyou-footer.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">
  <script src="./javascripts/catchyou.js"></script>
</head>

<body>

  <nav>
    <div id="navbar">
      <div class="leftbar">

        <ul>
          <li class="first-na">
            <a class="logo" href="./userinfo.ejs">
              <img src="./images/catchyou-logo.png" alt="">
            </a>
          </li>

          <li class="first-na">
            <a href="w">Shots</a>
            <ul class="second-na">
              <li>
                <a href="w">Popular Shots</a>
              </li>
              <li>
                <a href="w">Recent Shots</a>
              </li>
              <li class="line"></li>
              <li>
                <a href="w">Debuts</a>
              </li>
              <li>
                <a href="w">Playoffs</a>
              </li>
            </ul>
          </li>

          <li class="first-na">
            <a href="w">Designers</a>
            <ul class="second-na">
              <li>
                <a href="w">Trending Designers</a>
              </li>
              <li>
                <a href="w">Popular Designers</a>
              </li>
            </ul>
          </li>

          <li class="first-na">
            <a href="w">Teams</a>
          </li>

          <li class="first-na">
            <a href="w">Community</a>
          </li>

          <li class="first-na">
            <a href="w">Jobs</a>
          </li>

          <li class="first-na">
            <a href="w">Hiring</a>
          </li>

          <li class="first-na">
            <a href="w">
              <i class="fas fa-ellipsis-h"></i>
            </a>
          </li>
        </ul>

      </div>

      <div class="rightbar">
        <ul>
          <li class="first-na">
            <form class="search" action="index.ejs">
              <i class="fas fa-search"></i>
              <input type="text" name="search" value="" placeholder="Search">
            </form>
          </li>

          <li class="first-na">
            <a href="w">Sign in</a>
          </li>

          <li class="first-na">
            <a href="w">Sign up</a>
          </li>

          <li class="first-na">
            <a class="What" href="w">What are you working on?</a>
          </li>
        </ul>

      </div>
    </div>

  </nav>

  <header>
    <div class="centerbar">

      <ul class="first-ha">

        <li>
          <a href="w">Popular
            <i class="fas fa-angle-down"></i>
          </a>
          <ul class="second-ha">
            <li>
              <a href="w">Recent</a>
            </li>
            <li>
              <a href="w">Most Viewed</a>
            </li>
            <li>
              <a href="w">Most Commented</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="w">Shots
            <i class="fas fa-angle-down"></i>
          </a>
        </li>

        <li>
          <a href="w">Now
            <i class="fas fa-angle-down"></i>
          </a>
        </li>

      </ul>

    </div>
    <div class="th-img">
      <a href="w">
        <i class="fas fa-th-large"></i>
      </a>
      <div class="th-ul">
        <p>DISPLAY OPTIONS</p>
        <ul>
          <li>
            <i class="fas fa-align-center"></i>
          </li>
          <li>
            <i class="fas fa-align-justify"></i>
          </li>
          <li>
            <i class="fas fa-align-left"></i>
          </li>
          <li>
            <i class="fas fa-align-right"></i>
          </li>
        </ul>
      </div>
    </div>

  </header>

  <div class="content">

    <div class="main">

      <div class="cards">
        <ol class="cards-ol">

          <li class="card card1">
            <div class="show">
              <div class="show-top">
                <img src="https://dummyimage.com/200x150/1891d8/ea4c89.gif?text=card1" alt="" />
                <div class="hover-show">
                  <div class="hover-top">
                    <h3>作品名字</h3>
                    <p>作品内容阐述，一些装逼必备语言。作品内容阐述，一些装逼必备语言。作品内容阐述，一些装逼必备语言。</p>
                  </div>
                  <div class="hover-bottom">
                    <p>2 hours ago</p>
                  </div>
                </div>
              </div>
              <ol class="view">
                <li>
                  <a href="w">
                    <i class="fas fa-eye"></i>
                    123</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-comment"></i>
                    456</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-heart"></i>
                    789</a>
                </li>
              </ol>
            </div>
            <div class="author">
              <a class="name-au" href="w">
                <i class="fas fa-frog"></i>
                author's name
              </a>
              <a class="pro-gr" href="w">
                PRO
              </a>
            </div>
          </li>

          <li class="card card2">
            <div class="show">
              <img src="https://dummyimage.com/200x150/1891d8/ea4c89.gif?text=Card2" alt="">
              <ol class="view">
                <li>
                  <a href="w">
                    <i class="fas fa-eye"></i>
                    123</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-comment"></i>
                    456</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-heart"></i>
                    789</a>
                </li>
              </ol>
            </div>
            <div class="author">
              <a class="name-au" href="w">
                <i class="fas fa-frog"></i>
                author's name
              </a>
              <a class="pro-gr" href="w">
                PRO
              </a>
            </div>
          </li>

          <li class="card card3">
            <div class="show">
              <img src="https://dummyimage.com/200x150/1891d8/ea4c89.gif?text=Card3" alt="">
              <ol class="view">
                <li>
                  <a href="w">
                    <i class="fas fa-eye"></i>
                    123</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-comment"></i>
                    456</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-heart"></i>
                    789</a>
                </li>
              </ol>
            </div>
            <div class="author">
              <a class="name-au" href="w">
                <i class="fas fa-frog"></i>
                author's name
              </a>
              <a class="pro-gr" href="w">
                PRO
              </a>
            </div>
          </li>

          <li class="card card4">
            <div class="show">
              <img src="https://dummyimage.com/200x150/1891d8/ea4c89.gif?text=Card4" alt="">
              <ol class="view">
                <li>
                  <a href="w">
                    <i class="fas fa-eye"></i>
                    123</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-comment"></i>
                    456</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-heart"></i>
                    789</a>
                </li>
              </ol>
            </div>
            <div class="author">
              <a class="name-au" href="w">
                <i class="fas fa-frog"></i>
                author's name
              </a>
              <a class="pro-gr" href="w">
                PRO
              </a>
            </div>
          </li>

          <li class="card card5">
            <div class="show">
              <img src="https://dummyimage.com/200x150/1891d8/ea4c89.gif?text=Card5" alt="">
              <ol class="view">
                <li>
                  <a href="w">
                    <i class="fas fa-eye"></i>
                    123</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-comment"></i>
                    456</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-heart"></i>
                    789</a>
                </li>
              </ol>
            </div>
            <div class="author">
              <a class="name-au" href="w">
                <i class="fas fa-frog"></i>
                author's name
              </a>
              <a class="pro-gr" href="w">
                PRO
              </a>
            </div>
          </li>

          <li class="card card6">
            <div class="show">
              <img src="https://dummyimage.com/200x150/1891d8/ea4c89.gif?text=Card6" alt="">
              <ol class="view">
                <li>
                  <a href="w">
                    <i class="fas fa-eye"></i>
                    123</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-comment"></i>
                    456</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-heart"></i>
                    789</a>
                </li>
              </ol>
            </div>
            <div class="author">
              <a class="name-au" href="w">
                <i class="fas fa-frog"></i>
                author's name
              </a>
              <a class="pro-gr" href="w">
                PRO
              </a>
            </div>
          </li>

          <li class="card card7">
            <div class="show">
              <img src="https://dummyimage.com/200x150/1891d8/ea4c89.gif?text=Card7" alt="">
              <ol class="view">
                <li>
                  <a href="w">
                    <i class="fas fa-eye"></i>
                    123</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-comment"></i>
                    456</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-heart"></i>
                    789</a>
                </li>
              </ol>
            </div>
            <div class="author">
              <a class="name-au" href="w">
                <i class="fas fa-frog"></i>
                author's name
              </a>
              <a class="pro-gr" href="w">
                PRO
              </a>
            </div>
          </li>

          <li class="card card8">
            <div class="show">
              <img src="https://dummyimage.com/200x150/1891d8/ea4c89.gif?text=Card8" alt="">
              <ol class="view">
                <li>
                  <a href="w">
                    <i class="fas fa-eye"></i>
                    123</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-comment"></i>
                    456</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-heart"></i>
                    789</a>
                </li>
              </ol>
            </div>
            <div class="author">
              <a class="name-au" href="w">
                <i class="fas fa-frog"></i>
                author's name
              </a>
              <a class="pro-gr" href="w">
                PRO
              </a>
            </div>
          </li>

          <li class="card card9">
            <div class="show">
              <img src="https://dummyimage.com/200x150/1891d8/ea4c89.gif?text=Card9" alt="">
              <ol class="view">
                <li>
                  <a href="w">
                    <i class="fas fa-eye"></i>
                    123</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-comment"></i>
                    456</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-heart"></i>
                    789</a>
                </li>
              </ol>
            </div>
            <div class="author">
              <a class="name-au" href="w">
                <i class="fas fa-frog"></i>
                author's name
              </a>
              <a class="pro-gr" href="w">
                PRO
              </a>
            </div>
          </li>

          <li class="card card10">
            <div class="show">
              <img src="https://dummyimage.com/200x150/1891d8/ea4c89.gif?text=Card10" alt="">
              <ol class="view">
                <li>
                  <a href="w">
                    <i class="fas fa-eye"></i>
                    123</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-comment"></i>
                    456</a>
                </li>
                <li>
                  <a href="w">
                    <i class="fas fa-heart"></i>
                    789</a>
                </li>
              </ol>
            </div>
            <div class="author">
              <a class="name-au" href="w">
                <i class="fas fa-frog"></i>
                author's name
              </a>
              <a class="pro-gr" href="w">
                PRO
              </a>
            </div>
          </li>

        </ol>
      </div>

      <div class="cont">
        <a href="w" class="continue">Sign up to continue</a>
        <a href="w" class="sign">or sign in</a>
      </div>

    </div>

  </div>

  <footer>
    <div class="about">
      <img src="https://cdn.dribbble.com/assets/logo-footer-hd-a05db77841b4b27c0bf23ec1378e97c988190dfe7d26e32e1faea7269f9e001b.png"
        alt="" class="logo-b">
      <div class="about-top">
        <p class="title">Show and tell for designers</p>
        <p class="something">What are you working on? Dribbble is a community of designers sharing screenshots of their
          work, process, and projects.</p>
        <div class="link">
          <a href="w">
            <img src="https://cdn.dribbble.com/assets/icon-team-dribbble-8706862cdb0afa7f43f9e0218b073515f0a2bef19780961d324ae4620ebe249b.png"
              alt="">
          </a>
          <a href="w">
            <img src="https://cdn.dribbble.com/assets/icon-team-twitter-1fa6921d96b16e47f00ad0381ebbab59ba089c22b21f9bce783c9a4a077f40e9.png"
              alt="">
          </a>
          <a href="w">
            <img src="https://cdn.dribbble.com/assets/icon-team-facebook-4d63851997b88eb903858057327d93df9f950a55c5104a3a19206f2005682ea3.png"
              alt="">
          </a>
          <a href="w">
            <img src="https://cdn.dribbble.com/assets/icon-team-instagram-5dfdcd1478ea4a1c1e109b32adbd3878062aa1eb571da63ac379e0da1d2d5762.png"
              alt="">
          </a>
          <a href="w">
            <img src="https://cdn.dribbble.com/assets/icon-team-blog-2705adcb7ee6522051e175d10683208f0fa0ad17daa15fdf3f36aca99c540312.png"
              alt="">
          </a>
        </div>
      </div>
      <div class="about-bottom">
        <p>© 2018 catchyou. All rights reserved.</p>
      </div>
    </div>

    <div class="table">
      <div class="table-top">
        <div class="table-top-l">
          <a href="w" class="title">catchyou</a>
          <div class="l-l">
            <a href="w" class="something">About</a>
            <a href="w" class="something">Help</a>
            <a href="w" class="something">Contact</a>
            <a href="w" class="something">Careers</a>
            <a href="w" class="something">Terms</a>
            <a href="w" class="something">Guidelines</a>
            <a href="w" class="something">Privacy</a>
          </div>
          <div class="l-r">
            <a href="w" class="something">Shop</a>
            <a href="w" class="something">Twstimonials</a>
            <a href="w" class="something">Brand</a>
            <a href="w" class="something">Advertise</a>
            <a href="w" class="something">API</a>
            <a href="w" class="something">Intergrations</a>
            <a href="w" class="something">IOS App</a>
          </div>
        </div>
        <div class="table-top-r">
          <a href="w" class="title">Hiring at Dribbble</a>
          <a href="w" class="something">Post a job</a>
          <a href="w" class="something">Search designers</a>
          <a href="w" class="something">Add your team</a>
        </div>
      </div>
      <div class="table-bottom">
        <p>Made with heart remotely from Author</p>
      </div>
    </div>

    <div class="jobs">
      <a href="w" class="title">Jobs for Designers</a>
      <a href="w" class="designers">
        <img src="https://cdn.dribbble.com/users/1720614/avatars/normal/89af48eda5fa253eef14bdeb7d8b3d68.png?1515615191"
          alt="">
        <p><span class="title">Bajillion Agency</span>
          <span class="something">Web Designer</span></p>
      </a>
      <a href="w" class="designers">
        <img src="https://cdn.dribbble.com/users/1720614/avatars/normal/89af48eda5fa253eef14bdeb7d8b3d68.png?1515615191"
          alt="">
        <p><span class="title">Bajillion Agency</span>
          <span class="something">Web Designer</span></p>
      </a>
      <a href="w" class="designers">
        <img src="https://cdn.dribbble.com/users/1720614/avatars/normal/89af48eda5fa253eef14bdeb7d8b3d68.png?1515615191"
          alt="">
        <p><span class="title">Bajillion Agency</span>
          <span class="something">Web Designer</span></p>
      </a>
    </div>

    <div class="ads">
      <div class="ads-top">

      </div>
      <div class="ads-bottom">

      </div>
    </div>
  </footer>

</body>

</html>