<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./stylesheets/catchyou.css" />
  <link rel="stylesheet" href="./stylesheets/catchyou-nav.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= title %> user info</title>
</head>

<body>
    <nav>
        <div id="navbar">
          <div class="leftbar">
    
            <ul>
              <li class="first-na">
                <a class="logo" href="./userinfo">
                  <img src="./images/catchyou-logo.png" alt="">
                </a>
              </li>
    
              <li class="first-na">
                <a href="w">Shots</a>
                <ul class="second-na">
                  <li>
                    <a href="w">Popular Shots</a>
                  </li>
                  <li>
                    <a href="w">Recent Shots</a>
                  </li>
                  <li class="line"></li>
                  <li>
                    <a href="w">Debuts</a>
                  </li>
                  <li>
                    <a href="w">Playoffs</a>
                  </li>
                </ul>
              </li>
    
              <li class="first-na">
                <a href="w">Designers</a>
                <ul class="second-na">
                  <li>
                    <a href="w">Trending Designers</a>
                  </li>
                  <li>
                    <a href="w">Popular Designers</a>
                  </li>
                </ul>
              </li>
    
              <li class="first-na">
                <a href="w">Teams</a>
              </li>
    
              <li class="first-na">
                <a href="w">Community</a>
              </li>
    
              <li class="first-na">
                <a href="w">Jobs</a>
              </li>
    
              <li class="first-na">
                <a href="w">Hiring</a>
              </li>
    
              <li class="first-na">
                <a href="w">
                  <i class="fas fa-ellipsis-h"></i>
                </a>
              </li>
            </ul>
    
          </div>
    
          <div class="rightbar">
            <ul>
              <li class="first-na">
                <form class="search" action="index.ejs">
                  <i class="fas fa-search"></i>
                  <input type="text" name="search" value="" placeholder="Search">
                </form>
              </li>
    
              <li class="first-na">
                <a href="w">Sign in</a>
              </li>
    
              <li class="first-na">
                <a href="w">Sign up</a>
              </li>
    
              <li class="first-na">
                <a class="What" href="w">What are you working on?</a>
              </li>
            </ul>
    
          </div>
        </div>
    
      </nav>
</body>

</html>