* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E1E6E0;
    font-size: 0.8em;
    font-family: 微软雅黑;
    /*为什么有的字体是单引号，有的双引号，有的不需要引号？*/
    color: #7B8B71;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #7B8B71;
}

.container {
    position: relative;
    overflow: hidden;
    /*超出页面部分隐藏*/
}

/*整体css设置*/

.header {
    background-color: #FFFBF5;
}

.profile,
.info,
.projects {
    width: 800px;
    margin: 0 auto;
}

.profile {
    padding: 80px 0;
}

.profile h1 {
    font-weight: bold;
    font-size: 2.5em;
}

.profile p {
    margin-top: 10px;
    /*为什么margin会重叠？——上下就会重叠。*/
}

.profile .links {
    margin-top: 40px;
}

.profile .links img {
    width: 20px;
    margin-right: 12px;
}

.profile .links img:hover {
    opacity: 0.6;
}

/*上部css设置*/

.info {
    display: flex;
    justify-content: space-between;
    /*子元素两边顶头，均匀分布*/
    padding: 60px 0;
}

.info h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.info h2 img {
    width: 20px;
    vertical-align: text-bottom;
    /*图片对齐方式为对齐文字底部*/
    margin-right: 3px;
}

.info li img {
    width: 17px;
    vertical-align: text-bottom;
    /*图片对齐方式为对齐文字底部*/
    margin: 0 4.5px 0 1.5px;
}

.info .suojin {
    text-indent: 23px;
}

.info ul {
    margin-top: 10px;
}

.info ul li {
    padding: 15px 0 0;
}

/*中部css设置*/

.projects h2 {
    font-size: 1.2em;
    font-weight: bold;
}

.projects .main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*宽度不够时另起一行*/
    justify-content: space-between;
}

.projects .main .pro {
    background-color: #FFFBF5;
    width: 45%;
    padding: 15px;
    margin-top: 40px;
    box-shadow: 1px 1px 2px #B6C4B2;
    /*阴影：横向位置 纵向位置 模糊距离 颜色（可用rgba带透明）*/
    border-radius: 6px;
    /*盒子变圆角*/
}

.projects .main .pro a:hover {
    color: #C1CCD7;
}

.projects .main .pro img {
    width: 100%;
    border-radius: 6px;
    /*盒子变圆角*/
}

.projects .main .pro h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 10px;
}

.projects .main .pro p {
    margin: 10px;
    line-height: 1.6875em;
    font-weight: 200;
}

.projects .main .pro ul {
    margin: 10px;
    line-height: 1.6875em;
    /*文字行距*/
}

.projects .main .pro ul li {
    display: inline;
    margin-right: 10px;
}

.projects .main .pro ul .k1 {
    color: #8897A6;
}

.projects .main .pro ul .k2 {
    color: #656565;
}

.projects .main .pro ul .k3 {
    color: #965556;
}

.projects .main .pro ul .k4 {
    color: #CAC1D3;
}

/*下部css设置*/

footer {
    text-align: center;
    /*文字定位居中*/
    margin: 60px 0 20px;
    color: #A39A89;
}

/*页脚*/

.piaopiao1 {
    opacity: 0.6;
    /*透明度*/
    position: absolute;
    /*绝对定位，像浮动一样，不会排队了*/
    width: 88px;
    animation-name: piao1;
    /*元素要应用的动画效果的名字*/
    animation-duration: 36s;
    /*设置动画时间为30s*/
    animation-iteration-count: infinite;
    /*重复次数为无限次*/
    animation-direction: alternate;
    /*动画在下一周期逆向运动*/
}

.piaopiao2 {
    opacity: 0.6;
    position: absolute;
    width: 308px;
    animation-name: piao2;
    animation-duration: 66s;
    animation-iteration-count: infinite;
}

.piaopiao3 {
    opacity: 0.6;
    position: absolute;
    width: 98px;
    animation-name: piao3;
    animation-duration: 86s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes piao1 {
    /*插入一个关键动画，取名叫piao1*/
    from {
        /*从这个状态*/
        transform: translate(-80px, 1680px) rotate(-66deg);
        /*定义元素位置变化起点，旋转起始度数*/
    }
    to {
        /*变到这个状态*/
        transform: translate(1680px, -60px) rotate(368deg);
    }
}

@keyframes piao2 {
    from {
        transform: translate(-300px, 20px) rotate(36deg);
    }
    to {
        transform: translate(1800px, 866px) rotate(36deg);
    }
}

@keyframes piao3 {
    from {
        transform: translate(800px, 1800px) rotate(0deg);
    }
    to {
        transform: translate(-88px, -60px) rotate(360deg);
    }
}

/*背景*/

@media (max-width:820px) {
    /*假如屏幕宽度低于820px则实施下面的css设置*/
    .profile,
    .info,
    .projects {
        width: 600px;
        margin: 0 auto;
    }
}

@media (max-width:620px) {
    .profile,
    .info,
    .projects {
        width: 500px;
        margin: 0 auto;
    }
}

@media (max-width:520px) {
    .profile,
    .info,
    .projects {
        width: 300px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .info div {
        width: 270px;
        margin: 20px auto;
    }
    .projects .main .pro {
        width: 270px;
        margin: 30px auto;
    }
}

/*响应式*/